body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  background: hsl(0, 0%, 98%);
}

p {
  margin: 0;
}

.gridContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  /* background-color: rebeccapurple; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}

.gridContainer > div {
  /* border: 1px solid black; */
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-column-start: 1;
  grid-column-end: span 5;
}

.nav-flex {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  align-items: center;
  margin-top: 4%;
}

.nav-flex > a,
#features, #company {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

.nav-flex > a:hover,
#features:hover, #company:hover {
  color: hsl(0, 0%, 8%);
} 

#snap:hover {
  cursor: pointer;
}

.user {
  grid-column-start: 11;
  grid-column-end: span 2;
}

.user-flex {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  align-items: center;
  margin: 8%;
}

.user-flex > a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.image {
  grid-column-start: 8;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 6;
  width: 100%;
  height: 100%;
}

.title {
  line-height: 1.8em;
  grid-column-start: 2;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: span 2;
  font-size: 48px;
  height: 100%;
  padding: 0;
  color: hsl(0, 0%, 8%);
  margin-top: 1;
}

#register {
  border: 1px solid black;
  background-color: hsl(0, 0%, 98%);
  padding: 5% 10%;
  border-radius: 10px;
  color: hsl(0, 0%, 41%);
}

#register:hover {
  color: hsl(0, 0%, 8%);
}

.blurb {
  /* border: 1px solid black; */
  grid-row-start: 5;
  grid-column: 2 / span 4;
  font-size: 1.25em;
  color: hsl(0, 0%, 41%);
  line-height: 1.6em;

  /* width: 85%; */
}

.button {
  grid-row-start: 6;
  grid-column: 2 / span 2;
}

.logos {
  grid-row-start: 7;
  grid-column-start: 2;
  grid-column-end: 7;
}

.flex-logos {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  width: 80%;
}
.logo {
  width: 20%;
}
#learn {
  height: 60%;
  width: 75%;
  margin-top: 10%;
  border: none;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-size: 1.2em;
  border-radius: 1em;
  transition: all 0.1s;
}

#learn:hover {
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
}

.nav-flex > a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}

.user-flex > a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}

#register:hover {
  cursor: pointer;
}



.down:after {
  margin-left: 5px;
  content: url(./images/icon-arrow-down.svg);
}

.down:hover {
  color: hsl(0, 0%, 8%);
}

.down:hover:after {
  content: url(./images/icon-arrow-up.svg);
}

.icon {
  display: inline;
  margin-right: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;

  /* transition: all 0.2s ease; */
}
/* background of features dropdown */
/* #features-list {
  display: none;
  padding-bottom: 20px;
  padding-top: 10px;
  position: absolute;
  background-color: white;
  min-width: 160%;
  height: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.dropdown-content a {
  color: black;
  padding: 5px 20px;
  text-decoration: none;
  display: block;
  font-size: 0.9em;
}

.dropdown-content a:last-child {
  padding-bottom: 15px;
}

.dropdown-content a:first-child {
  padding-top: 15px;
}

/* Show the dropdown menu on hover */
/* .dropdown:hover #features-list {display: block;}
.icon {
  width: 0.8em;
  margin-right: 10%;
} */

#company-list {
  /* visibility: ; */
  display: none;
  margin-top: 15px;
  position: absolute;
  background-color: white;
  /* height: 100px; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: visibility 0.5s;
  
}

#company-list > a {
  text-align: left;
  white-space: nowrap;
  color: hsl(0, 0%, 41%);
  
}


#company-list > a:hover {
  color: hsl(0, 0%, 8%)
}

.dropdown:hover #company-list {display: block;}


/* alsdkfjlkasdjflaksdjflkajlskdfjlaksdjflaksjdlfkjalkdjflkajdsf */
#features-list {
  margin-top: 15px;
  display: none;
  position: absolute;
  right: 8px;
  background-color: white;
  /* height: 100px; */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#features-list > a {
  text-align: left;
  white-space: nowrap;
  color: hsl(0, 0%, 41%);
  
}


#features-list > a:hover {
  color: hsl(0, 0%, 8%)
}

.dropdown:hover #features-list {display: block;}
